head,body{
	padding: 0px;
	margin: 0px;
}
#container{
		    height:1000px;
			margin: 0px ;
			padding: 0px ;
}
#navpanel{
   width:70%;
}
#header {
    background-color:whitesmoke;
    color:gray;
    height:54px;
}
#nav{
    list-style:none;
    margin: 0px;
    padding:0px;
    float: right;
}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 43px;
    margin-left:-70%;
    width:70%;
    z-index: 1;
    display: none;
}
#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 288px;
}
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color:whitesmoke;
    
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}
.ui-panel-inner {
     padding:0px;
 }
 .ui-controlgroup {
     margin:0;
 }